<h2>Available Books:</h2>
<ul>
  {{#each}}
    <li>{{title}} [<a href="#" {{action "openSummary" this}}>summary</a>]</li>
  {{/each}}
</ul>

{{#popover-link-component tagName="button"
  class="btn btn-primary" title="Hello"
  content="Hello World"}}
  Show Popover Button-Left
{{/popover-link-component}}